@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,100&display=swap');

body {
  font-family: 'Montserrat', sans-serif !important;
}

.button:focus {
  outline: 0 !important;
}

.buttonIn {
  position: relative;
}

input {
  margin: 0px;
  padding: 0px;
  width: 100%;
  outline: none;
  height: 30px;
  border-radius: 5px;
}

.button {
  position: absolute;
  left: -26px;
  z-index: 2;
  border: none;
  top: 4px;
  height: 30px;
  color: #981313;
  background-color: transparent;
  transform: translateX(2px);
}

.rotate-center {
  -webkit-animation: rotate-center 1s linear infinite forwards;
  animation: rotate-center 1s linear infinite forwards;
}

.nav-link:active,
.nav-link:hover,
.nav-link:focus,
.nav-link:visited,
.clickedBtn {
  background: linear-gradient(45deg, black, transparent) !important;
  color: white !important;
}

.nav-link:active i,
.nav-link:hover i,
.nav-link:focus i,
.clickedBtn i {
  color: rgb(53 134 218 / 96%) !important;
}

.show {
  opacity: 1;
}

.hide {
  display: none !important;
}

/* CLASSES TO MAKE MODAL WORK */
.hideModal {
  display: none;
}

.modaldiv {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 36%;
  background-color: white;
  padding: 3rem;
  border-radius: 2em;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;
}

.confirmModal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 26%;
  background-color: white;
  padding: 3rem;
  border-radius: 2em;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;
}

.close {
  position: absolute;
  top: 1.2rem;
  right: 2rem;
  font-size: 1.5rem;
  color: #000000;
  cursor: pointer;
  border: none;
  background: none;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 5;
}

.wrapperNotifi {
  overflow-x: hidden;
  /* overflow: auto; */
  border-radius: 1em;
  background: #e6e6e6;
  height: 30vh;
}

#myInput {
  border-radius: 1em;
}

.wrapperExam {
  overflow-x: hidden;

  height: 20vh;

  border-radius: 1rem;

  background-color: #e6e6e6;
}

table {
  border-radius: 1.5em;
  -moz-border-radius: 6px;

  vertical-align: middle;
}

thead {
  line-height: unset;
}

.table-bordered td,
.table-bordered th,
.table-bordered thead th {
  vertical-align: middle;
  text-align: -webkit-center;
}

tr:hover,
tr:hover a {
  background-color: #c1d2f1 !important;
  color: #123b4e !important;
}

table {
  border-collapse: separate !important;
  border-spacing: 0 !important;
}

td {
  border: solid 1px #000;
  border-style: none solid solid none;
  padding: 10px;
}

tr:first-child th:first-child {
  border-top-left-radius: 1.5em !important;
}

tr:first-child th:last-child {
  border-top-right-radius: 1.5em !important;
}

tr:last-child td:first-child,
.lastLeftRow {
  border-bottom-left-radius: 1.5em !important;
}

tr:last-child td:last-child,
.lastRightRow {
  border-bottom-right-radius: 1.5em !important;
}

tr:first-child td {
  border-top-style: solid !important;
}

tr td:first-child {
  border-left-style: solid !important;
}

.examRemind,
.reminderNotice {
  border-radius: 1em;
  width: 98% !important;
  right: 1vh;
  overflow-y: hidden;
  overflow: auto;
  background: white;
  height: 6vh;
  top: 1vh;
  cursor: pointer;
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  -ms-border-radius: 1em;
  -o-border-radius: 1em;
}

.wrapText {
  word-break: break-all;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.clear {
  border-radius: 2em;
  text-align: center;
  background: darkturquoise;
  cursor: pointer;
}

/* ----------------------------------------------
* Generated by Animista on 2020-10-26 13:20:13
* Licensed under FreeBSD License.
* See http://animista.net/license for more info. 
* w: http://animista.net, t: @cssanimista
* ---------------------------------------------- */

/**
* ----------------------------------------
* animation rotate-center
* ----------------------------------------
*/
@-webkit-keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
  }
}

@keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 1255px) {

  .noticeDiv,
  .tableDiv {
    flex: 0 0 auto !important;
    width: 100% !important;
  }
}